# Node
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Turbo monorepo artifacts
.turbo/

# OS-specific
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/

# Prisma
apps/server/prisma/*.db

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform.tfvars

# Misc
*.tgz
*.md